[Unit]
Description=daphne daemon
After=network.target

[Service]
Environment="DJANGO_ENVIRONMENT=VirtualMachine" 
User={{ ansible_user }}
Group=nginx
WorkingDirectory=/home/{{ ansible_user }}/{{ project_directory }}/
ExecStart=/home/{{ ansible_user }}/{{ project_directory }}/.venv/bin/daphne {{ django_project_name }}.asgi:application --access-log=/var/log/daphne/daphne.log
Restart=always

[Install]
WantedBy=multi-user.target