[defaults]
# Support playbook.yml in playbooks directory
roles_path = roles

# Support automatically add to ~/.ssh/known_hosts use ssh-keyscan 
host_key_checking = False

# Don't create .retry file
retry_files_enabled = False
